/*
.icon-nav-one{
 width: 16px;
 height: 12px;
 margin-right: 10px;
}
.icon-nav-two{
 width: 10px;
 max-height: 16px;
 margin-right: 10px;
}
.site-item{
 margin-right: 50px;
}
.site-item:last-child{
 margin-right: 0px;
}
.icon-portfolio-one{
 color: var(--color-secondary-text);
 fill: var(--color-secondary-text);
 width: 16px;
 max-height: 12px;
 margin-right: 10px;
}
.item{
 display: block;
 font-family: var(--color-primary-text);
 font-weight:  500;
 line-height: 1.15;
 text-align: left;
 padding: 32px 0px 32px 0px;
 text-decoration: none;
 color: var(--color-primary-text);
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

     &:focus,
     &:hover {
         color: var(--color-blue);
         fill: var(--color-blue);
    }   
}
.item-one{
 display: flex;
 align-items: center;
 font-family: var(--color-primary-text);
 font-weight:  500;
 line-height: 1.15;
 text-decoration: none;
 color: var(--color-secondary-text);
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
             fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

     &:focus,
     &:hover {
     color: var(--color-blue);
     fill: var(--color-blue);
    }          
}
.site-item-one{
  margin-right: 50px;
}
.item-one-info{
  display: flex;
  align-items: center;
  font-family: var(--color-primary-text);
  font-weight:  500;
  line-height: 1.15;
  text-decoration: none;
  color: var(--color-secondary-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
     &:focus,
     &:hover {
         color: var(--color-blue);
         fill: var(--color-blue);
}   
*/
  