:root {
  /* Змінні для кольорів*/
    --color-primary-text: #212121;
    --color-secondary-text: #757575;
    --color-black: #000000;
    --color-blue: #2196f3;
    --color-secondary-background: #f5f4fa;
    --color-white: #ffffff;
    --color-third-background: #2f303a;
    --color-contacts-footer: rgba(255, 255, 255, 0.6);
    --color-box: rgba(0, 0, 0, 0.15);
    --color-border: #ececec;
    --color-main-button-active: #188ce8;
    --color-social-network: #afb1b8;
    --color-client-background: #f5f5f5;
  /* Змінні для шрифтів*/
    --font-family-primary:'Roboto', sans-serif;
    --font-family-secondary: 'Raleway', sans-serif;
  } 